<div class="b-example-divider"></div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="_blank" href="https://www.wcu.edu/" class="nav-link px-2 text-body-secondary">School</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.potomacstatecollege.edu/news/2022/04/26/njoroge-named-catamounts-climb-higher-award-recipient-at-potomac-state-college" class="nav-link px-2 text-body-secondary">Major Award</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.nrao.edu/students/2023/Reports/NjorogeCarl.pdf" class="nav-link px-2 text-body-secondary">Previous Internship Project</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.potomacstatecollege.edu/" class="nav-link px-2 text-body-secondary">Alma Mater</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Carl Njoroge, Inc</p>
  </footer>
</div>