<div class =" border-bottom row" style="margin-bottom : 16px ; padding-bottom:8px; " >

<div class="col-9">


    <h4 
        style = "color: rgb(120, 70 , 120); margin-bottom: 4px;">
        {{job['title']}}
    </h4>
        <div> 
        <b>Description:</b>  {{job['Description']}}
        </div>

    {% if 'Project Type' in job %}
        <div> 
        <b>Project Type:</b>  {{job['Project Type']}}
        </div>
        {% endif %}

    </div>
    <div class="col-2 padding-right:16px">
        <a href="mailto:Hello@carl.njoroge?subject=Project:%20{{job['title']}}&body=Body%3A%0D%0A%0D%0AMy%20name%3A%20%3CCarl%20Njoroge%3E%0D%0A%0D%0AMy%20resume%20link%3A%20%3CResume%20Link%3E%0D%0A%0D%0AMy%20LinkedIn%20link%3A%20%3CLinkedIn%20Link%3E%0D%0A%0D%0A%0D%0A" type= "button" class="btn btn-outline-primary"> View Project </a>

</div>


  </div>