<div class =" border-bottom row" style="margin-bottom : 16px ; padding-bottom:8px; " >

<div class="col-9">


    <h4 
        style = "color: rgb(120, 70 , 120); margin-bottom: 4px;">
        {{job['title']}}
    </h4>
        <div> 
        <b>Description:</b>  {{job['Description']}}
        </div>

    {% if 'Project Type' in job %}
        <div> 
        <b>Project Type:</b>  {{job['Project Type']}}
        </div>
        {% endif %}

    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary"> View Project </button>

</div>


  </div>